:root {
  --color-blue-500: #2271f2;
  --color-red-500: #f84848;
  --color-green-500: #28b864;
  --color-orange-500: #ff5422;
  --color-grey-500: #444444;
  --active-color: var(--color-blue-500);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #ececec;
  font-family: sans-serif;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 16px;
}

.label {
  display: inline-block;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.7);
  text-transform: uppercase;
  margin-bottom: 4px;
}

.icon {
  width: 20px;
  height: 20px;
}

.card {
  display: flex;
  flex-direction: column;
}

.product {
  flex: 1;
  padding: 12px 32px;
  background-color: #fff;
  filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03))
    drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
}

.product > div {
  padding: 16px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.product > div:last-child {
  border-bottom: none;
}

.product__name {
  font-size: 28px;
  line-height: 1.3;
  font-weight: 700;
}

.product__category {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.8);
}

.product__info-desc {
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.6);
  margin: 0;
}

.product__cart-button {
  all: unset;
  color: #fff;
  background-color: var(--active-color);
  display: flex;
  gap: 8px;
  padding: 12px 16px;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.product__checkout {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product__cart-button:hover {
  filter: brightness(120%);
}

.product__cart-button:active {
  filter: brightness(80%);
}

.product__price {
  font-size: 28px;
  font-weight: 600;
  display: flex;
  align-items: flex-start;
}

.product__price-currency {
  font-size: 0.7em;
  margin-top: 3px;
}

.preview {
  flex: 1;
}

.preview__wrapper {
  height: 100%;
  position: relative;
  background: var(--active-color);
  filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04))
    drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
}

.preview__share {
  all: unset;
  width: 44px;
  height: 44px;
  background-color: #fff;
  border-radius: 9999px;
  color: var(--active-color);
  display: grid;
  place-items: center;
  cursor: pointer;
  position: absolute;
  right: 16px;
  top: 16px;
  z-index: 20;
}

.preview__share:hover {
  filter: brightness(120%);
}

.preview__share:active {
  filter: brightness(80%);
}

.preview__brand-logo {
  left: 16px;
  top: 16px;
  position: absolute;
  color: #fff;
}

.preview__brand-logo svg {
  max-width: 100px;
  height: auto;
}

.preview__brand-name {
  text-transform: uppercase;
  font-size: 124px;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.15);
  position: absolute;
  z-index: 0;
  left: 16px;
  top: 50%;
  transform: translateY(-90%);
}

.preview__image {
  height: 100%;
  position: relative;
  z-index: 10;
  transition: all 0.2s ease-in-out;
}

.preview__image img {
  max-width: 100%;
  height: 100%;
  width: 100%;
  object-fit: contain;
}

@media screen and (min-width: 600px) {
  .card {
    flex-direction: row;
  }

  .preview {
    padding: 24px 0;
  }

  .preview__image {
    transform: rotate(-15deg) scale(1.4) translate3d(-16%, 2%, 0);
  }
}
