* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: sans-serif;
}

.container {
  display: flex;
  gap: 8px;
  max-width: 100%;
  justify-content: flex-start;
}

.stamps {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.stamp {
  width: 100px;
  height: 100px;
}

.stamp[data-active='true'] {
  color: rgba(255, 255, 255, 0.8);
  background-color: rgb(29, 78, 216);
}

.stamp svg {
  width: 100%;
  height: 100%;
}

.canvas {
  flex: 1;
  border: 1px solid black;
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.control {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
